# === .NET Build Files ===
bin/
obj/
*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates
*.config

# === Logs ===
*.log

# === Visual Studio / VSCode ===
.vscode/
.vs/
.idea/

# === OS files ===
.DS_Store
Thumbs.db

# === Config Files ===
appsettings.*.json
appsettings.json
appsettings.Development.json
!appsettings.example.json
.env
secrets.json

# === Tests / Coverage ===
TestResults/
coverage/

# === Docker / Compose ===
*.pid
*.tar
docker-compose.override.yml
*Dockerfile
*.dockerignore


# === Others ===
*.db
*.sqlite
*.pdb
/.dockerignore
/.github/upgrades/scenarios/new-dotnet-version_4a60c6
/Docker
/tmp_backup_CustomWebApplicationFactory_original.txt
